doctype html
html(lang="es")
head
body(style='background-color: yellow')
	h2 #{titol}
	<br>
	<a href="/llistar">Llistar Pelicules</a>
	<br>
	<a href="/afegir">Afegir Pelicula</a>
	<br>
	<a href="/actualitzar">Actualitzar Pelicula</a>
	<br><br>
	<br>
	<a href="/llistar/1">Llistar 1a pelicula</a>
	<br>
	<a href="/borrar/1">Borrar 1a pelicula</a>
	<br><br>
	img(src= "http://blog.engeneral.net/wp-content/uploads/2009/06/blockbuster.png")
