doctype html
html(lang="es")
head
body(style='background-color: yellow')
	p #{peliBorrada}
	p #{error}
	img(src= "http://vignette3.wikia.nocookie.net/avatar/images/f/fc/IconoPelicula.png/revision/latest?cb=20120822162914&path-prefix=es" width="450" height="400")
	<br>
	<a href="/">Tornar enrere</a>