doctype html
html(lang="es")
head
body(style='background-color: yellow')
	h4 Resultat de la pelicula filtrada per ID
	//li= ' Codpeli:' + pelis[0]._id + ' Titol: ' + pelis[0].titol + ' Sinopsi: ' + pelis[0].sinopsi
	p #{pelis}
	p #{error}
	<br>
	<a href="/">Tornar enrere</a>