doctype html
html(lang="es")
head
	h1 Afegir pelicula
body(style='background-color: yellow')
	
	form(action='/accioAfegir', method='post')
		div Escriu el codi de la peli que vols inserir
		br
		div
			label Codi de la pelicula:
		br
		input(name='_id')
		div
			label Titol de la pelicula:
		br
		input(name='titol')
		div
			label Sinopsi de la pelicula:
		br
		input(name='sinopsi')
		div
			button Enviar


<br>
<a href="/">Tornar enrere</a>