doctype html
html(lang="es")
head
body(style='background-color: yellow')
	h4 Llistat de pelicules del videoclub
	ul
		each val, index in pelis
			li= 'Posicio: ' + index + ' Codpeli:' + val._id + ' Titol: ' + val.titol + ' Sinopsi: ' + val.sinopsi
<br>
img(src= "http://www.adslzone.net/app/uploads/2016/02/peliculas.jpg" width="650" height="400")
<br>
<a href="/">Tornar enrere</a>